<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maps List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" />
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d6c4c6c3f782007214fd49e572b5bde9&libraries=services"></script>
</head>
<script src="/js/admin/maps.js"></script>
<body>
<th:block th:replace="fragments/adminNav :: adminNavFragment"></th:block>
<div class="container">
    <div class="double">
    <div class="menubar">
        <button class="btn btn-dark" onclick="showModal()">지도 추가</button>
    </div>
        <div class="menubar2">
            <button class="btn btn-dark" onclick="showModal2()">카테고리 추가</button>
        </div>
    </div>
    <div class="double">
    <div class="row" style="width: 70%">
        <div class="col-md">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>category</th>
                    <th>Venue</th>
                    <th>Name</th>
                    <th>Tel</th>
                    <th>Del</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dbMaps : ${DBMaps}">
                    <td th:text="${dbMaps.id}"></td>
                    <td th:text="${dbMaps.category.name}"></td>
                    <td th:text="${dbMaps.venue == 1 ? '서울' : dbMaps.venue == 2 ? '경기' : dbMaps.venue == 3 ? '인천' : dbMaps.venue == 4 ? '강원' : dbMaps.venue == 5 ? '충북' : dbMaps.venue == 6 ? '충남' : dbMaps.venue == 7 ? '대전' : dbMaps.venue == 8 ? '경북' : dbMaps.venue == 9 ? '경남' : dbMaps.venue == 10 ? '부산' : dbMaps.venue == 11 ? '울산' : dbMaps.venue == 12 ? '대구' : dbMaps.venue == 13 ? '광주' : dbMaps.venue == 14 ? '전북' : dbMaps.venue == 15 ? '전남' : dbMaps.venue == 16 ? '제주' : ''}"></td>
                    <td th:text="${dbMaps.name}"></td>
                    <td th:text="${dbMaps.tel}"></td>
                    <td>
                        <button class="btn btn-danger" th:onclick="'deleteDbMap(\'' + ${dbMaps.id} + '\')'">X</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination justify-content-center">
                    <li th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{/admin/maps(page=0)}">처음</a>
                    </li>
                    <li th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{/admin/maps(page=${currentPage - 1})}">이전</a>
                    </li>
                    <li th:class="${currentPage == totalPages - 1 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{/admin/maps(page=${currentPage + 1})}">다음</a>
                    </li>
                    <li th:class="${currentPage == totalPages - 1 ? 'page-item disabled' : 'page-item'}">
                        <a class="page-link" th:href="@{/admin/maps(page=${totalPages - 1})}">마지막</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        <div class="row" style="width: 30%">
            <div class="col-md" style="overflow: auto;height: 660px;">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Del</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="DbCategory : ${DBCategory}">
                        <td th:text="${DbCategory.id}"></td>
                        <td th:text="${DbCategory.name}"></td>
                        <td>
                            <button class="btn btn-danger" th:onclick="'deleteDbCategory(\'' + ${DbCategory.id} + '\')'">X</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- 추가 모달 창 -->
    <div class="modal fade" id="addMapsModal" tabindex="-1" role="dialog" aria-labelledby="addMapsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMapsModalLabel">Add Map</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <!-- 추가 폼 -->
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Name"/>
                        </div>
                        <div class="form-group">
                            <select class="form-select" name="category" id="category">
                                <option th:each="category : ${DBCategory}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="tel" placeholder="Tel"/>
                        </div>
                        <div class="form-group">
                            <select class="form-select" name="venue" id="venue">
                                <option value="1">서울</option>
                                <option value="2">경기</option>
                                <option value="3">인천</option>
                                <option value="4">강원</option>
                                <option value="5">충북</option>
                                <option value="6">충남</option>
                                <option value="7">대전</option>
                                <option value="8">경북</option>
                                <option value="9">경남</option>
                                <option value="10">부산</option>
                                <option value="11">울산</option>
                                <option value="12">대구</option>
                                <option value="13">광주</option>
                                <option value="14">전북</option>
                                <option value="15">전남</option>
                                <option value="16">제주</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" id="address_kakao" name="address" class="form-control" placeholder="address" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" id="latitude" name="latitude" class="form-control" placeholder="latitude" readonly>
                            <input type="text" id="longitude" name="longitude" class="form-control" placeholder="longitude" readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addMapsButton()">Add</button>
                </div>
            </div>
        </div>
</div>
    <!-- 카테고리 모달 창 -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <!-- 추가 폼 -->
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="cname" placeholder="Name"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addCategoryButton()">Add</button>
                </div>
            </div>
        </div>
    </div>

</div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
</body>
</html>