<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <th:block th:fragment="footerFragment">
        <div class="nav-footer">
            <a class="footer-slot" href="/"><i id="nav-slot" class="bi bi-house-door nav-link" style="font-size: 27px;"></i></a>
            <a class="footer-slot" href="/map/0"><i id="nav-slot2" class="bi bi-geo-alt nav-link" href="/map/0" style="font-size: 27px;"></i></a>
            <a class="footer-slot" href="/board"> <i id="nav-slot3" class="bi bi-chat-right-text nav-link" href="/board" style="font-size: 27px;"></i></a>
            <a class="footer-slot" href="/myPage"><i id="nav-slot4"class="bi bi-person nav-link" style="font-size: 27px;"></i></a>
        </div>
    </th:block>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>