<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <th:block th:fragment="navbarFragment">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: seagreen;">
            <div class="container px-lg-5" style="background-color: seagreen;">
                <a style=" font-family: 'YEONGJUPunggiGinsengTTF';" class="navbar-brand" href="/">오늘 뭐하지 ?</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a id="active-link" class="nav-link" href="/">할일 추천</a>
                        <a id="active-link2" class="nav-link" href="/map/0">할일 지도</a>
                    </div>
                </div>
            </div>
        </nav>
    </th:block>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>