    @font-face {
    font-family: 'YEONGJUPunggiGinsengTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
    font-family: 'YEONGJUPunggiGinsengTTF';
}
}
        .nav-link.active {
            color: white !important; /* 특정 페이지에서의 색상 */
        }

.nav-bar{
background-color: #2f6d4a;
display: flex;
    justify-content: center;
    font-size: 15px;
    border-top: solid 1px;
    border-top-color: #00000017;
    color: rgb(255 255 255 / 55%);
}

    .active {
        color: white !important;
    }

    .category-item.active {
        color: white !important;
    }
    .category-item{
        margin:5px;
        font-family: 'YEONGJUPunggiGinsengTTF';
        color: rgb(255 255 255 / 55%);
    }

.nav-item{
    margin:5px;
    font-family: 'YEONGJUPunggiGinsengTTF';
    color: rgb(255 255 255 / 55%);
}

.nav-item.active{
    color: #fff;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}